/* body{
    background-color:black;
     linear-gradient(to bottom, rgba(224, 224, 7, 0.747), rgba(116, 26, 168, 0.884))
} */
#clockContainer
{
    position: relative;
    background-size: 100%;
    height:40vw;
    width:40vw;
    background: url(clockimg.jpeg) no-repeat;
  
    margin: auto;
 
} 
#hour,#minute,#second{
    position: absolute;
    background:black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
     width:1%;
     height:22.5%;
     top:27%;
     left: 49.4%;
     opacity: 0.8;
   
    
}
#minute{
    width:1%;
    height:28%;
    top:22%;
    left: 49.4%;
    opacity: 0.8;


   
   

}
#second{
    width:0.5%;
    height:35%;
    top:15%;
    left: 49.4%;
    opacity: 0.8;
    
    
}